
@media only screen and (max-width:991px){
    nav{
        text-align: center;
        z-index: 12;
    }
    nav .list-inline{
        display: none;
    }
    .contact-us-link a{
        padding: 0;
    }

}

@media only screen and (max-width:575px){
    .heading-temp{
        margin-bottom: 2.5rem;
    }
    .temp{
        text-align: center;
    }
    .bg-screen{
        background-color: #d4d4d4 !important;
    }
}
